h1 {
  padding: 25px;
  font-family: 'serif', sans-serif;
  font-size: 75px;
}

h2 {
  font-family: 'serif';
  font-size: 40px;
  color: skyblue;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: peachpuff;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
}
